<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
              <div class="pull-right">
            <a href="/">Retour vers l'accueil</a>
            <a href="/logout">Logout</a>
          </div>
      

</body>
</html>
