


<div class="container">
    <div class="row">
        <div class=" col-xs-12 col-sm-4 col-md-4">
            <p class="copyright">&copy; Simplon 2017</p>
            <p class="text-left">
                    <a href="/mentionslegales">Mentions Légales </a>
                </p>
        </div>

        <div class="mleg col-xs-12 col-sm-4 col-md-4">
         
        </div>

        <div class="icons col-xs-12 col-sm-4 col-md-4">

            <p class="text-center">
                <a href="#">
                    <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                </a>

                <a href="#">
                    <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                </a>

                <a href="#">
                    <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
                </a>
            </p>

        </div>
