<div class="container">
    <div class="row">
        <div class="copyright col-md-3">
            <p class="">&copy; Simplon 2017</p>
        </div>

        <div class="mleg col-md-4">
            <a href="/mentionslegales">Mentions Légales </a>
        </div>

        <div class="icons col-md-5">
            <p>
            <a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>

            <a href="#"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>

            <a href="#"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>
</div>