<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="sh-carousel">
    <div class="sh-carousel-wrapper">
      <div class="sh-carousel-slide bg-05"></div>
      <div class="sh-carousel-slide bg-04"></div>
      <div class="sh-carousel-slide bg-02 "></div>
      <div class="sh-carousel-slide bg-03"></div>

    </div>
    <div class="sh-carousel-content">
      <div class="container">
        <h1 class="sh-carousel-content-title">International Premium
          <br>Accompagnement.
          <br>
          <br>
          <strong> Séjour Linguistique immersif
            <br> et stage édudiant</strong>
        </h1>
        <br>
      </div>
      </a>
    </div>
  </div>
</div>