<figure>
    <img src="images/logo.png" alt="" class="img-responsive logo-responsive">
</figure>
<div id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-text">
                <h1 class="text-center">Des séjours linguistiques dans des lieux d'exceptions</h1>
                <br>

                <p>International
                    <strong>Premium</strong> Accompagnement vise à développer votre potentiel en vous accompagnant dans vos parcours
                    éducatifs et professionnels. Cela est fait en vous procurant des opportunités précieuces pour ces parcours.</p>
                <br>
            </div>
        </div>

        <div class="box-item">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/student-box.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-8">
                    <h2>Booster vos compétences</h2>
                    <p>Vous avez toutes les chances de booster vos compétences en langue et carrière tout en immergeant dans
                        différentes nouvelles cultures que vous soyez jeune, étudiant, collégien ou bachelier.</p>

                </div>
            </div>
        </div>

        <div class="box-item">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/student-box2.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-8">
                    <h2>Partenariats importants avec de grandes écoles.</h2>
                    <p>Des partenariats importants avec de grandes écoles, des entreprises de renoms ainsi que différents organismes.
                        Nous pourvoyons des séjours linguistiques et ludiques, stages et immersions à nos clients grâce à
                        nos relations internationales. </p>
                </div>
            </div>
        </div>

        <div class="box-item">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/johan-sellier.JPG" class="img-responsive" alt="">
                </div>
                <div class="col-md-8">

                    <h2>Leader du projet </h2>

                    <p>Mr Johan Sellier, initiateur du projet International Premium Accompagnement. Jeune entrepreneur réunionnais,
                        il s'investit aux côtés de la jeunesse réunionnaise afin de leur permettre de s'ouvrir au monde.
                        Son objectif est de permettre à chacun d'apprendre et/ou une remise à niveau sur une langue et d'obtenir
                        un stage immersif.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="coupure">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Nous vous garantissons un voyage linguistique unique dans les plus prestigieux lieux </h1>

                <ul>
                    <li>Apprenez la langue</li>
                    <li>Découvrez des lieux de prestiges</li>
                    <li>Rencontrez des célébrités</li>
                    <li>Imprégnez vous de la culture </li>
                    <li>Vivez une expérience inoubliable</li>
                </ul>

                <p>Pour en savoir plus contactez-nous

                    <a class="btn btn-details btn-lg  text-center" href="/contact">Contact</a>

                </p>

            </div>

        </div>
    </div>
</div>

<div class="container">
    <div id="myIcon">
        <div class="row">

            <h2 class="text-center titleIconList">Comment ça marche ?</h2>

            <div class="text-center col-lg-4">
                <img src="/images/earth.png" alt=" earth" />
                <h3 class="titreIcon"> Choisissez votre voyage </h3>
                <p class="p_guide">Une garantie d'un
                    <br> voyage réussi</p>
            </div>

            <div class="text-center col-lg-4">
                <img src="/images/itie.png " alt=" itineraire" />
                <h3 class="titreIcon"> Définissez votre itinéraire </h3>
                <p class="p_guide">Un voyage personnalisé
                    <br> rien que pour vous !</p>
            </div>

            <div class=" text-center col-lg-4">
                <img src="/images/billet.png " alt=" ticket" />
                <h3 class="titreIcon"> Réservez vos places </h3>
                <p class="p_guide">Contactez-nous pour
                    <br> réservez vos places</p>
            </div>

        </div>
    </div>
</div>