<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signup">Inscription <i class="fa fa-user-circle-o fa-1x"></i> </a></li>
                        <li><a href="/login">Me Connecter <i class="fa fa-sign-in fa-1x"></i></a></li>
                        <li><a href="/logout">Deconnection<i class="fa fa-sign-in fa-1x"></i></a></li>
                        <li><a href="/admin">Admin<i class="fa fa-lock fa-1x"></i></a></li>
                        <li><a href="/contact">Nous Contacter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <img src="/images/logo.png" class="logo" alt="international accompagnement">

</div> -->