<%- contentFor('menu')%>
    <div class="container">
        <h1>
            <%= mesVoyages.name %>
        </h1>
        <div class="row">
            <div class="col-md-8">
                <form action="/ajoutLieux/<%= mesVoyages._id %>" enctype="multipart/form-data" method="post">
                    <input type="text" class="form-control" name="titre" placeholder="Titre">
                    <textarea class="form-control" rows="8" name="text" id="comment" placeholder="Descriptif du lieu à visiter"></textarea>
            </div>
            <div class="col-md-4">
                <div class="imgVide">
                    <input type="file" name="img" class='btn btn-primary' placeholder="">
                </div>
                <br>
                <br>
            </div>
            <p class="text-left">
                <button type="submit" class="btn btn-success btn-lg">Confirmer</button>
            </p>
            </form>
        </div>
    </div>