<%- contentFor('titre') %>

    <h4 class="text-center">Creation de Carte</h4>

    <%- contentFor('menu') %>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form action="/dashbord/card" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <input class="form-control input-sm" type="file" name="img" placeholder="Image Upload">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" type="text" name="name" placeholder="Titre">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" type="text" name="url" placeholder="Nom pour URL">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" type="date" name="dateA" placeholder="Date aller">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" type="date" name="dateR" placeholder="Date retour">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" type="text" name="sejour" placeholder="Nombre de jours">
                        </div>
                        <div class="form-group">

                            <textarea name="preview" placeholder="Descriptif de la carte" class="form-control" type="text" id="" cols="30" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea name="text" placeholder="Resumé du voyage" class="form-control" type="text" id="" cols="30" rows="5"></textarea>
                        </div>
                        <p class="text-center">
                            <button type="submit" class="btn btn-warning btn-lg">confirmez</button>
                        </p>
                    </form>

                </div>

            </div>