<%- contentFor('contact') %>
    <div class="contact">

        <div class="container">
            <div class="row">
                <div class="signup-wrapper xycenter">
                    <header>
                        <div class="xycenter">
                            <span class="dot active"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                    </header>

                    <h2>Vous souhaitez obtenir plus d'informations ?</h2>
                    <p> Envoyez moi un mail !</p>

                    <form class="cool-form" role="form" method="post" action="/email">
                        <div>
                            <input type="text" name="name" id="name" placeholder=" " required />
                            <label for="name">Nom Prenom</label>
                        </div>



                        <div>
                            <input type="email" name="email" id="email" placeholder=" " required />
                            <label for="email">Email</label>
                            <div class="requirements">
                                Adresse email non valide
                            </div>
                        </div>


                        <div>
                            <input type="text" name="subject" id="subject" placeholder=" " required />
                            <label for="subject">Sujet</label>
                        </div>


                        <textarea name="message" rows="8" id="" placeholder="Ajoutez vos message ici..">

                        </textarea>


                        <input type="submit" id="submit" value="Envoyez" />
                    </form>

                </div>

            </div>
        </div>
    </div>