<% contentFor('index')%>
    <title>International Premium Accompagnement </title>

<header>
    <% include partials/header %>
</header>
        <main>
            <% include partials/intro %>
            <% include partials/carte %>
        </main>

