<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Great+Vibes|Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>International Premium Accompagnement </title>
</head>

<%- contentFor('partenaires') %>
    <div class="banniere-partenaire"> </div>

    <body>

        <div class="container">



            <title>Nos mentions légales</title>

            <h2>
                Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant
                sur ce site, vous acceptez sans réserve les présentes modalités.
            </h2>

            <h1>Editeur du site</h1>
            <h4>
                Crée dans le cadre d'une formation developpeur web par des apprenants de Simplon Réunion pour leur projet d'examen de fin
                d'année ;
            </h4>

            <h4>BOVALO Rubens, GREGOIRE Laurent, CALLENS Alexandre, CLAIN Nicolas</h4>

            <h3>Simplon Reunion </h3>

            <h1>International Premium Accompagnement</h1>
            <h4>
                <p>
                    21 impasse révolution
                    <br> 97438 Sainte Marie
                    <br> 0692 45 74 60 portable
                    <br> ‭ 0262 78 07 49‬ fixe
                </p>
            </h4>

            <h4>SARL en cours de construction</h4>



            <h1>Conditions d'utilisations</h1>

            <h4>
                Le site est accessible par les url suivantes : https://int-prem-acc.herokuapp.com/ est exploité dans le respect de la législation
                française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site,
                vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres
                modifiées à tout moment et sans préavis par la société International Premium Accompagnement ne saurait être
                tenu pour responsable en aucune manière d’une mauvaise utilisation du service.
            </h4>

            <h1>Limitation de responsabilité</h1>

            <h4>
                Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais
                peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur
                ou ce qui paraît être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème
                de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de
                navigateur utilisé, …).
            </h4>

            <h4>
                Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, International
                Premium Accompagnement ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de
                l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
            </h4>

            <h4>
                Les photos sont non contractuelles.
            </h4>

            <h4>
                Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur
                le réseau Internet ne sauraient engager la responsabilité de International Premium Accompagnement.
            </h4>


            <h1>Litiges</h1>

            <h4>
                Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation
                ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social
                de la société International Premium Accompagnement. La langue de référence, pour le règlement de contentieux
                éventuels, est le français.
            </h4>

            <h1>Déclaration à la CNIL</h1>

            <h4>
                Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes
                physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers
                et aux libertés, le site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique
                et des libertés (www.cnil.fr).
            </h4>

            <h1>Droit d'accès</h1>

            <h4>
                En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression
                concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès
                d'International Premium Accompagnement (adresse) ou par voie électronique à l’adresse email suivante : J.sellier.iae@hotmail.fr
                Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle
                bonne exécution de la prestation commandée par l’internaute.
            </h4>

            <h1>Confidentialité</h1>

            <h4>
                Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution
                de la prestation.
            </h4>

            <h1>Propriété intellectuelle</h1>

            <h4>
                Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons,
                logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société International
                prenium accompagnement à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires
                ou auteurs. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même
                partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit d International
                Premium Accompagnement. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue
                une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle.
                Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et
                pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en
                justice à votre encontre.
            </h4>

            <h4>
                International Premium Accompagnement est identiquement propriétaire des "droits de productions de bases de données" visés
                au Livre III,Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative
                aux droits d'auteurs et aux bases de données.
            </h4>

            <h4>
                Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement
                en direction de la page d’accueil, accessible à l’URL suivante : www.International Premium Accompagnementfr,
                à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien
                profond »)est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation
                expresse et préalable International Premium Accompagnement.
            </h4>

            <h4>
                Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : J.selier.uae@hotmail.fr Des conditions
                spécifiques sont prévues pour la presse.
            </h4>

            <h1>Conditions de service</h1>

            <h4>
                Ce site est proposé en langages Nodejs et Bootstrap pour un meilleur confort d'utilisation et un graphisme plus agréable,
                nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...
            </h4>

            <h1>Contactez-nous</h1>

            <h4>
                International Premium Accompagnement est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous
                écrire en français par courrier électronique à : J.selier.uae@hotmail.fr
            </h4>
        </div>

    </body>

</html>