<%- contentFor('partenaires') %>

    <title>Nos Partenaires</title>

    <div class="banniere-partenaire"> </div>


    <div class="container">
        <div class="partenaires">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="text-center"> NOS PARTENAIRES</h2>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/toni&guy.png" class="img-responsive" alt="Partenaire 1" style="width:100%">
                        <h1>Sylvestre Finold</h1>
                        <p class="title">Toni & Guy </p>
                        <p>Directeur Artistique du salon
                            <br> de coiffure Toni&Guy en Angleterre</p>
                        <br>
                        <a href="https://twitter.com/sylvestre974?lang=fr">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/sylvestre-finold-12761b111/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://www.facebook.com/sylvestre.finold">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.toniandguy.fr/">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </a>


                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/yvonne-marie-sain.jpg" class="img-responsive" alt="Partenaire 2" style="width:100%">
                        <h1>Yvonne-Marie Sain</h1>
                        <p class="title">Danseuse Professionelle </p>
                        <p>Danseuse Professionelle influencée par
                            <br> le Street Jazz & le Jazz-Funk</p>
                        <br>
                        <a href="https://twitter.com/yvonne_maries?lang=fr">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.broadwaydancecenter.com/faculty/yvonne-marie-sain">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </a>
                        </a>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/alanrobert.jpg" class="img-responsive" alt="Partenaire 3" style="width:100%">
                        <h1>Alan Robert</h1>
                        <p class="title">Danseur Professionel à New-York</p>
                        <p>Danseur Professionel
                            <br>dans la troupe du Soleil</p>
                        <br>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.reunionnaisdumonde.com/spip.php?article7797">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/oxford.jpeg" alt="Partenaire 4" class="img-responsive" style="width:100%">
                        <h1>Université d'Oxford</h1>
                        <p class="title">Grandes université d'Angleterre </p>
                        <p>Oxford grande université d'Angleterre formant les futurs grandes personnalités de leurs pays voir
                            internationales</p>
                        <br>
                        <a href="https://twitter.com/uniofoxford">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/school/4477/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://www.facebook.com/the.university.of.oxford/">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.ox.ac.uk/">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/athena.jpeg" alt="Partenaire 5" class="img-responsive" style="width:100%">
                        <h1>Athena Training</h1>
                        <p class="title">Ecole de soutien scolaire </p>
                        <p>Centre de soutien scolaire et
                            <br>de formation professionnelle continue</p>
                        <br>

                        <a href="https://twitter.com/athenatraining">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/athenatraining">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://www.facebook.com/ATHENATRAINING974">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://athenatraining.re/">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </a>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>