<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Great+Vibes|Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Shadows+Into+Light" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Nos Partenaires</title>

    <body>

        <header>
            <% include partials/header.ejs %>
        </header>


        <div class="partenaires">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="text-center"> NOS PARTENAIRES</h2>
            </div>

            <div class="row">
                <div class="col-xs-12 col-xs-12 col-sm-4 col-md-4 col-lg-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/toni&guy.png" alt="Partenaire 1" style="width:100%">
                        <h1>Sylvestre Finold</h1>
                        <p>Toni & Guy</p>
                        <p>Directeur Artistique du salon de coiffure Toni&Guy en Angleterre</p>
                        <a href="https://twitter.com/sylvestre974?lang=fr">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/sylvestre-finold-12761b111/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://www.facebook.com/sylvestre.finold">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.toniandguy.fr/">
                            <button class="btnform">Site Internet</button>
                        </a>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/yvonne-marie-sain.jpg" alt="Partenaire 2" style="width:100%">
                        <h1>Yvonne-Marie Sain</h1>
                        <p class="title">Danseuse Professionelle </p>
                        <p>Danseuse Professionelle pour Brodway Dance Center </p>
                        <a href="https://twitter.com/yvonne_maries?lang=fr">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.broadwaydancecenter.com/faculty/yvonne-marie-sain">
                            <button class="btnform">Site Internet</button>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/alanrobert.jpg" alt="Partenaire 3" style="width:100%">
                        <h1>Alan Robert</h1>
                        <p class="title">Danseur Professionel à New-York</p>
                        <p>Danseur Professionel dans la troupe du Soleil</p>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.reunionnaisdumonde.com/spip.php?article7797">
                            <button class="btnform">Site Internet</button>
                        </a>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/oxford.jpg" alt="Partenaire 4" style="width:100%">
                        <h1>Université d'Oxford</h1>
                        <p class="title">Une des plus grandes université d'Angleterre </p>
                        <p>Lorem Ipsum</p>
                        <a href="https://twitter.com/uniofoxford">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/school/4477/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://www.facebook.com/the.university.of.oxford/">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.ox.ac.uk/">
                            <button class="btnform">Site Internet</button>
                        </a>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <img src="images/logo-kel.png" alt="Partenaire 5" style="width:100%">
                        <h1>Athena Training</h1>
                        <p class="title">Ecole de soutien scolaire </p>
                        <p>Centre de soutien scolaire et de formation professionnelle continue</p>
                        <a href="https://twitter.com/athenatraining">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/athenatraining">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://www.facebook.com/ATHENATRAINING974">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://athenatraining.re/">
                            <button class="btnform">Site Internet</button>
                        </a>
                    </div>
                </div>

            </div>

            <footer>
                <% include partials/footer%>
            </footer>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="javascripts/script.js"></script>
    </body>

</html>