<%- contentFor('validation') %>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="validationEmail">
                <p>Votre Email a bien etait envoyé !</p>
                <p>Nous vous recontacterons trés bientôt</p>
                <br>
                <br>
                <br>
                <br>
                <p>
                    <a href="/" class="btn btn-success btn-lg">Merci =)</a>
                </p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>