@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	box-sizing: border-box;
	font-family: 'Roboto'
}


/* ================ BANNIERE ================*/

.banniere-contact {
	background: #06162D;
	height: 260px;
	margin-bottom: -40px;
	margin-top: -171px;
	z-index: 232;
}


/* ================ NAVBAR =================*/

.navbar {
	margin-bottom: 0px;
	position: none;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
	color: orange;
}

.navbar-default {
	background: transparent;
	z-index: 100;
	border: none;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
	padding-top: 81px;
}

.navbar-brand img {
	width: 125px;
	position: absolute;
	margin-left: -274px;
	margin-top: -61px;
}

.dropdown-menu {
	background: #06162D;
	min-width: 157px;
	max-width: 157px;
	border: none;
	border-radius: 0px;
	width: 138px;
}

.dropdown-menu>li>a {
	color: white;
	width: 157px;
}

.navbar-default .navbar-nav>.open>a {
	background: #06162D;
	color: white;
	width: 157px;
}

input:focus {
	outline: none;
}

.contact {
	position: relative;
	width: 100%;
	height: 100%;
}

.xycenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.signup-wrapper {
	max-width: 600px;
	width: 90%;
	text-align: center;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	color: #666;
}

.signup-wrapper header {
	background-color: #06162D;
	height: 40px;
	text-align: center;
	position: relative;
}

span.dot {
	display: inline-block;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin: 0 4px;
	background-color: #eaeaea;
}

span.dot.active {
	background-color: white;
}

.signup-wrapper h2 {
	margin-bottom: 0;
}

.signup-wrapper p {
	margin: 5px;
}

.cool-form {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10%;
	color: #aaa;
}

.cool-form>div {
	position: relative;
	margin-top: 20px;
}

.cool-form>div>label {
	position: absolute;
	top: 0px;
	left: 1px;
	transition: all 0.3s;
}

.cool-form>div>.requirements {
	display: none;
	font-size: 12px;
	font-weight: 400;
}

.cool-form>div>input {
	width: 100%;
	padding: 10px;
	color: #888;
	border: none;
	border-bottom: 2px solid #aaa;
	transition: all 0.3s;
}

.cool-form>div>input:focus {
	border-bottom-color: #06162D;
}

.cool-form>div>input:focus+label {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	top: -10px;
	left: 0;
	color: #06162D;
}


/* Input is valid, not empty */

.cool-form>div>input:valid:not(:placeholder-shown) {
	border-bottom-color: #ff9c00;
}

.cool-form>div>input:valid:not(:placeholder-shown)+label {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	top: -10px;
	left: 0;
	color: #ff9c00;
}


/* Input is not vald, not in focus, not empty */

.cool-form>div>input:invalid:not(:focus):not(:placeholder-shown) {
	border-bottom-color: #FF3319;
}

.cool-form>div>input:invalid:not(:focus):not(:placeholder-shown)+label {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	top: -10px;
	left: 0;
	color: #FF3319;
}


/* Show Requirements on invalid non-empty forms */

.cool-form>div>input:invalid:not(:placeholder-shown)~.requirements {
	display: block;
	color: #FF3319;
}


/* Input is not valid, is in focus, not empty */

.cool-form>div>input:invalid:focus:not(:placeholder-shown) {
	border-bottom-color: #F8F8F8;
}

.cool-form>div>input:invalid:focus:not(:placeholder-shown)+label {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	top: -10 px;
	left: 0;
	color: #df7c7c;
}

.cool-form input[type=submit] {
	border: none;
	color: white;
	background-color: #06162D;
	padding: 15px 30px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 20px;
}

.cool-form input[type=submit]:hover {
	background-color: #ff9c00;
}

#contact .navbar-default .navbar-collapse {
	background: #272626;
}

textarea {
	width: 100%;
	border-radius: 12px;
	margin-top: 51px;
	border: solid 2px #D6D4D4;
}


/* =======FOOTER ============*/

footer {
	background-color: #06162B;
	color: white;
	padding: 15px;
	position: relative;
	margin-top: 69px;
	height: 224px;
	padding-top: 65px;
}

footer a {
	color: #fff;
}

.copyright,
.mleg,
.icons {
	margin-top: 40px;
	color: #fff;
	text-align: center;
}

.icons i {
	margin-left: 10px;
	color: #fff;
}

.validationEmail {
	background: #06162D;
	height: 400px;
	border: white 2px solid;
	padding-top: 60px;
	margin: 16% 0 10% 0;
}

.validationEmail p {
	text-align: center;
	color: #D0A548;
	font-size: 34px;
}

@media all and (max-width:500px) {
	.navbar .navbar-collapse {
		padding-top: 0px;
	}
	.banniere-contact {
		height: 308px;
		margin-top: -250px;
		margin-bottom: 10px;
	}
	.signup-wrapper {
		margin-top: 60px;
	}
	footer {
		margin-top: 140px;
		padding-top: 40px;
		height: 334px;
	}
}

@media all and (min-width:768px) and (max-width:1000px) {
	.navbar-default .navbar-nav>li>a {
		font-size: 12px;
	}
}