  /* ==================== MENU =================== */
  /* nav dash*/

  .navbar {
    margin-bottom: 0px;
    position: none;
}

@media (max-width: 768px) {
    .navbar-fixed-side {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side {
        position: fixed;
        margin: 0 -15px;
        height: 100%;
        overflow: auto;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .container,
    .navbar-fixed-side .container-fluid {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-header {
        float: none;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-brand {
        height: auto;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side>.container .navbar-brand,
    .navbar-fixed-side>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-collapse {
        width: 100%;
        border-top: 1px solid #e7e7e7;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav {
        float: none;
        margin: 0 -15px;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav>li {
        float: none;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e7e7e7;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-form {
        margin: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
        border-bottom: 1px solid #e7e7e7;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-text {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-left,
    .navbar-fixed-side .navbar-right {
        float: none !important;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        border-bottom: 1px solid #e7e7e7;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a,
    .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a {
        line-height: 20px;
        color: #777;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
        background-image: none;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu>.active>a {
        background-color: #e7e7e7;
        color: #555;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav>li>a:hover,
    .navbar-fixed-side .navbar-nav>li>a:focus,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
        background-color: #f0f0f0;
        color: #333;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .dropdown>.dropdown-toggle,
    .navbar-fixed-side .dropdown-menu>.dropdown-header {
        background-color: transparent !important;
        color: #9d9d9d !important;
        cursor: default;
        font-size: 0.8em;
        text-transform: uppercase;
        border-bottom: none;
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .dropdown-toggle .caret {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .dropdown-menu {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .navbar-collapse,
    .navbar-fixed-side.navbar-inverse .navbar-nav>li>a,
    .navbar-fixed-side.navbar-inverse .navbar-form,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
        border-color: #363636;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .divider {
        background-color: #363636;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a {
        color: #9d9d9d;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a {
        background-color: #090909;
        color: #fff;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:focus,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus {
        background-color: #2f2f2f;
        color: #fff;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle {
        color: #777777 !important;
    }
}



/*bambam*/

body {
    position: relative;
    overflow-x: hidden;
    background: #FAF9F8;
    font-family: 'Roboto', sans-serif;
}

header {
    background: white;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: #0B2038;
}

.logo {
    width: 170px;
    position: absolute;
    z-index: 20;
    margin-left: 350px;
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    margin-top: -110px;
}
/*-------------------------------*/
/*           Menu nav-bar        */
/*-------------------------------*/

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: orange;
}

.navbar-default {
    background: transparent;
    z-index: 100;
    border: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
/*-------------------------------*/
/*           carousel             */
/*-------------------------------*/

.bg-01 {
    background-image: url('../images/logo-mieux.png');
    width: 50%;
    height: 50%;
}

.sh-carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -9999999;
}

.sh-carousel-wrapper {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
}

.sh-carousel-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sh-carousel-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sh-carousel-content-title {
    width: 100%;
    line-height: 1.32;
    margin: 0 auto;
    padding: 0px 28px;
    font-size: 3.4em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-top: 6em;
    text-shadow: 1px 4px 2px #413b3b;
}
/*-------------------------------*/
/*           carousel             */
/*-------------------------------*/
/*-------------------------------*/
/*           scroll mouse           */
/*-------------------------------*/
/* =============== HEADER ======================*/

.p_guide {
    font-style: italic;
    margin-top: 15px;
    font-size: 18px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container h2 {
    color: #06162D;
}

.carousel {
    margin-top: -130px;
}

.carousel h1 {}

.carousel strong {
    color: #eea903;
}

.carousel-inner {
    width: auto;
    margin-bottom: 70px;
}

.carousel-inner>.item>img {
    height: 800px;
    width: 100%;
}

.leader {
  color : #fff
}
.leader p {
  color : #fff
}



/* ========== CARTE ================= */

#intro strong {
    color: black;
}

#intro {
    margin-top: 110px;
}

#intro h1 {
    color: #2B2727;
}

#intro p {
    font-size: 19px;
}

#coupure {
    height: 500px;
    background: url(../images/australia.jpg) no-repeat fixed;
    background-size: cover;
}

#myIcon {
    margin-top: 50px;
}

.carte {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    height: 708px;
    background: white;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.carte-vide {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    background: white;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media all and (max-width:560px) {
    .carte {
        height: 800px;
    }
}

.carte img {
    width: 106%;
    margin: 0 auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 4;
    margin-top: 9px;
    height: 300px;
    margin-left: -10px;
    margin-top: -10px;
    box-shadow: inset 0 0 9px #302E2E;
}

.box-item {
    background: white;
    margin-top: 50px;
}

.box-item .col-md-8 {
    padding: 20px;
}

.details p {
    /* height: 100px; */
    font-size: 22px;
    width: 100%;
    height: 191px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.date h3 {
    color: orange;
    letter-spacing: 2px;
}

.date p {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.btn-details {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    background: #65A2E4;
    color: #fff;
    /* margin-top: 60px; */
    border: none;
    margin-left: 10px;
    width: 150px;
}

.btn-warning {
    /* padding: 5px; */
    height: 40px;
    text-transform: uppercase;
    /* margin-top: 60px; */
    background: #F1B244;
    border: none;
    margin-right: 30px;
    margin-left: -9px;
}

.btn-danger {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    border: none;
    margin-right: 30px;
}



.card-text {
    width: 150px;
    margin: 0 auto;
}

.voyageTitre {
    margin-bottom: 60px;
    font-family: 'Robot', sans-serif;
    font-size: 35px;
    padding-top: 30px;
}
/* =======Itineraire=========*/

.back {
    width: 60px;
    height: 60px;
    border-radius: 54;
    background: #65A2E4;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 8px;
    padding-top: 9px;
    border-radius: 7px;
}

.back i {
    color: white;
    right: 1em;
}

.itineraire-img img {
    height: 500px;
}

.personnalisable {
    background: #E69B2B;
    color: white;
    height: 500px;
    padding-top: 18px;
    padding-left: 15px;
}

.personnalisable p {
    font-size: 21px;
    margin-right: 15px;
}

.personnalisable img {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.descriptif {
    margin-top: -1px;
    background: white;
    border: 0.5px solid #E2DDDD;
    padding: 30px;
    color: #4B4545;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.descriptif:hover {
    box-shadow: 0px 3px 5px rgba(32, 32, 32, 0.15);
    transform: scale(1.01)
}

.descriptif img {
    margin-top: 10px;
    height: 180px;
    width: 310px;
}

.descriptif h3 {
    color: #000000;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: helvetica;
}

.VerticalSeparator {
    border-left: 1.0px solid #93979C;
    /* Border on the left */
    width: 0.5px;
    /* Width instead of height */
    height: 200px;
}
/* QUI SOMMES NOUS */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 23px;
}

.title {
 
    font-size: 18px;
}

.btnform {
    text-align: center;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.partenaires a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.btnform:hover,
.partenaires a:hover {
    opacity: 0.7;
}
/*=============== Admin Card ===================*/



.trait {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  background: #47A2DB;
  height: 4px;
  width: 100px;
}

a {
  padding-right: 15px;
}


a {
    padding-right: 15px;
}
/* =======FOOTER ============*/

footer a {
    color: #fff;
}

.copyright,
.mleg,
.icons {
    margin-top: 40px;
    color: #fff;
}

.icons i {
    margin-left: 10px;
    color: #fff;
}
/* === dashbord === */
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

.imgVide {
    height: 250px;
    border: 1px dashed blue;
    padding-top: 110px;
}

.imgVide input {
    margin: 0 auto;
}

.titre input {
    width: 120px;
}

.row.content {
    height: 1500px
}
/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.carteSupp {
    padding: 20px;
    border-radius: 10px;
    background: #C5C5D3;
    text-align: center;
    padding-bottom: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media (max-width: 1024px) {
    .carte-vide, .carte, .remove {
    margin-left: 140px;
    }
    .title {
        margin-left: 244px;
    }
}

@media (max-width:414px) {
    .title,.carte {
        margin-left: -2px;
    }
}



@media all and (max-width:560px) {}

.carte img {
    width: 106%;
    margin: 0 auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 4;
    margin-top: 9px;
    height: 300px;
    margin-left: -10px;
    margin-top: -10px;
    box-shadow: inset 0 0 9px #302E2E;
}

.box-item {
    background: white;
    margin-top: 50px;
}

.box-item .col-md-8 {
    padding: 20px;
}

.details p {
    height: 100px;
    font-size: 22px;
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.date h3 {
    color: orange;
    letter-spacing: 2px;
}

.date p {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.btn-details {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    background: #65A2E4;
    color: #fff;
    margin-top: 60px;
    border: none;
    margin-left: 10px;
    width: 150px;
}

.btn-warning {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    background: #F1B244;
    border: none;
    margin-right: 30px;
}

.btn-danger {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    border: none;
    margin-right: 30px;
}

.btn-success {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    border: none;
    margin-right: 1px;
}

.card-text {
    width: 150px;
    margin: 0 auto;
}

.voyageTitre {
    margin-bottom: 60px;
    font-family: 'Robot', sans-serif;
    font-size: 35px;
    padding-top: 30px;
}
/* =======Itineraire=========*/

.back {
    width: 60px;
    height: 60px;
    border-radius: 54;
    background: #65A2E4;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 8px;
    padding-top: 9px;
    border-radius: 7px;
}

.back i {
    color: white;
    right: 1em;
}

.itineraire-img img {
    height: 500px;
}

.personnalisable {
    background: #E69B2B;
    color: white;
    height: 500px;
    padding-top: 18px;
    padding-left: 15px;
}

.personnalisable p {
    font-size: 21px;
    margin-right: 15px;
}

.personnalisable img {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.descriptif {
    margin-top: -1px;
    background: white;
    border: 0.5px solid #E2DDDD;
    padding: 30px;
    color: #4B4545;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.descriptif:hover {
    box-shadow: 0px 3px 5px rgba(32, 32, 32, 0.15);
    transform: scale(1.01)
}

.descriptif img {
    margin-top: 10px;
    height: 180px;
    width: 310px;
}

.descriptif h3 {
    color: #000000;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: helvetica;
}

.VerticalSeparator {
    border-left: 1.0px solid #93979C;
    /* Border on the left */
    width: 0.5px;
    /* Width instead of height */
    height: 200px;
}
/* QUI SOMMES NOUS */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 23px;
}

.title {
    color: grey;
    font-size: 18px;
}

.btnform {
    text-align: center;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.partenaires a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.btnform:hover,
.partenaires a:hover {
    opacity: 0.7;
}
/* dashbord */
/*=============== Admin Card ===================*/

#comment-right {
    /* margin-top: 45px; */
}



a {
    padding-right: 15px;
}
/* =======FOOTER ============*/


footer {
    background-color: #06162B;
    color: white;
    padding: 15px;
}

footer a {
    color: #fff;
}

.copyright,
.mleg,
.icons {
    margin-top: 40px;
    color: #fff;
}

.icons i {
    margin-left: 10px;
    color: #fff;
}
/* === dashbord === */
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

.imgVide {
    height: 250px;
    border: 1px dashed blue;
    padding-top: 110px;
}

.imgVide input {
    margin: 0 auto;
}

.titre input {
    width: 120px;
}

.row.content {
    height: 1500px
}
/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.carteSupp {
    padding: 20px;
    border-radius: 10px;
    background: #C5C5D3;
    text-align: center;
    margin-top: 10px;
}

.carteSupp .btn-danger {
    background: #CF3030;
    padding: 5px;
}
/* Set black background color, white text and some padding */


/* On small screens, set height to 'auto' for sidenav and grid */

@media all and (max-width:890px) {
  .carte {
      width: 100%;
      padding-bottom: 50px;

  }
  .carte img {
      width: 103%;
  }
  .carousel {
      display: none;
  }
  
}
@media all and (max-width:560px) {
  .carte img {
      width: 106%;
  }
}    


@media all and (max-width:890px){
  .btn-danger, .btn-warning {
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 15px;
  }
 
}


@media screen and (max-width: 767px) {
  .sidenav {
      height: auto;
      padding: 15px;
  }
  .row.content {
      height: auto;
  }
}

@media all and (max-width:890px) {
  .VerticalSeparator {
      display: none;
  }
  footer p {
      text-align: center;
  }
}


@media (max-width: 768px) {
  .navbar-fixed-side {
      margin-left: -15px;
      margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side {
      position: fixed;
      margin: 0 -15px;
      height: 100%;
      overflow: auto;
      border-top-width: 0;
      border-bottom-width: 0;
      border-radius: 0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .container,
  .navbar-fixed-side .container-fluid {
      width: auto;
      padding-left: 0;
      padding-right: 0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-header {
      float: none;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-brand {
      height: auto;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side>.container .navbar-brand,
  .navbar-fixed-side>.container-fluid .navbar-brand {
      margin-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-collapse {
      width: 100%;
      border-top: 1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav {
      float: none;
      margin: 0 -15px;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav>li {
      float: none;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-form {
      margin: 0;
      margin-left: -15px;
      margin-right: -15px;
      padding: 10px 15px;
      border-bottom: 1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-text {
      float: none;
      margin-left: 0;
      margin-right: 0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-left,
  .navbar-fixed-side .navbar-right {
      float: none !important;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu>li>a,
  .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
      padding: 5px 15px 5px 25px;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu>li>a {
      line-height: 20px;
      color: #777;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
  .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
      background-image: none;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu>.active>a {
      background-color: #e7e7e7;
      color: #555;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav>li>a:hover,
  .navbar-fixed-side .navbar-nav>li>a:focus,
  .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
  .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
      background-color: #f0f0f0;
      color: #333;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .dropdown>.dropdown-toggle,
  .navbar-fixed-side .dropdown-menu>.dropdown-header {
      background-color: transparent !important;
      color: #9d9d9d !important;
      cursor: default;
      font-size: 0.8em;
      text-transform: uppercase;
      border-bottom: none;
      padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .dropdown-toggle .caret {
      display: none;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .dropdown-menu {
      display: block;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .navbar-collapse,
  .navbar-fixed-side.navbar-inverse .navbar-nav>li>a,
  .navbar-fixed-side.navbar-inverse .navbar-form,
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
      border-color: #363636;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .divider {
      background-color: #363636;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a {
      color: #9d9d9d;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a {
      background-color: #090909;
      color: #fff;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:hover,
  .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:focus,
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover,
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus {
      background-color: #2f2f2f;
      color: #fff;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle {
      color: #777777 !important;
  }
}
