  /* ==================== MENU =================== */
  /* nav dash*/
strong 
{
    color: #ff9c00;
}
  .navbar {
    margin-bottom: 0px;
    position: none;
}

@media (max-width: 768px) {
    .navbar-fixed-side {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side {
        position: fixed;
        margin: 0 -15px;
        height: 100%;
        overflow: auto;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .container,
    .navbar-fixed-side .container-fluid {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-header {
        float: none;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-brand {
        height: auto;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side>.container .navbar-brand,
    .navbar-fixed-side>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-collapse {
        width: 100%;
        border-top: 1px solid #e7e7e7;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav {
        float: none;
        margin: 0 -15px;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav>li {
        float: none;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e7e7e7;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-form {
        margin: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
        border-bottom: 1px solid #e7e7e7;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-text {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-left,
    .navbar-fixed-side .navbar-right {
        float: none !important;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        border-bottom: 1px solid #e7e7e7;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a,
    .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a {
        line-height: 20px;
        color: #777;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
        background-image: none;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav .dropdown-menu>.active>a {
        background-color: #e7e7e7;
        color: #555;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .navbar-nav>li>a:hover,
    .navbar-fixed-side .navbar-nav>li>a:focus,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
        background-color: #f0f0f0;
        color: #333;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .dropdown>.dropdown-toggle,
    .navbar-fixed-side .dropdown-menu>.dropdown-header {
        background-color: transparent !important;
        color: #9d9d9d !important;
        cursor: default;
        font-size: 0.8em;
        text-transform: uppercase;
        border-bottom: none;
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .dropdown-toggle .caret {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side .dropdown-menu {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .navbar-collapse,
    .navbar-fixed-side.navbar-inverse .navbar-nav>li>a,
    .navbar-fixed-side.navbar-inverse .navbar-form,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
        border-color: #363636;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .divider {
        background-color: #363636;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a {
        color: #9d9d9d;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a {
        background-color: #090909;
        color: #fff;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:focus,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus {
        background-color: #2f2f2f;
        color: #fff;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle {
        color: #777777 !important;
    }
}



/*bambam*/

body {
    position: relative;
    overflow-x: hidden;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

header {
    background: white;
}

a {
    color: #f1b245;
}

a:hover {
    text-decoration: none;
    color: #0B2038;
}

.logo {
    width: 170px;
    position: absolute;
    z-index: 20;
    margin-left: 350px;
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    margin-top: -110px;
}
/*-------------------------------*/
/*           Menu nav-bar        */
/*-------------------------------*/

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: orange;
    
}

.navbar-default {
    background: transparent;
    z-index: 100;
    border: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
/*-------------------------------*/
/*           carousel             */
/*-------------------------------*/

.bg-02 {
    background: url('../images/africa-head.jpg')

}
.bg-03 {
    background: url('../images/usa-head.jpg')
}
.bg-04{
    background: url('../images/austra-head.jpg')
}
.bg-05 {
    background: url('../images/student3.jpg')
}

.sh-carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -9999999;
}

.sh-carousel-wrapper {
    width: 100%;
    height: 100%;
    transition: transform 1.1s ease-in-out;
    will-change: transform;
}

.sh-carousel-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sh-carousel-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sh-carousel-content-title {
    width: 100%;
    line-height: 1.32;
    margin: 0 auto;
    padding: 0px 28px;
    font-size: 3.4em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-top: 6em;
    text-shadow: 1px 4px 2px #413b3b;
}
/*-------------------------------*/
/*           carousel             */
/*-------------------------------*/
/*-------------------------------*/
/*           scroll mouse           */
/*-------------------------------*/
/* =============== HEADER ======================*/

.p_guide {
    font-style: italic;
    margin-top: 15px;
    font-size: 18px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container h2 {
    color: #06162D;
    font-weight: bold;
    
}

.carousel {
    margin-top: -130px;
}

.carousel h1 {}

.carousel strong {
    color: #eea903;
}

.carousel-inner {
    width: auto;
    margin-bottom: 70px;
}

.carousel-inner>.item>img {
    height: 800px;
    width: 100%;
}
/* ========== CARTE ================= */

#intro strong {
    color: black;
}

#intro {
    margin-top: 110px;
}

#intro h1 {
    color: #294064;
    font-weight: bold;
}

#intro p {
    font-size: 19px;
}

#coupure {
    background: url(../images/australia.jpg) no-repeat fixed;
    background-size: cover;
    transform:translate(0%, 2.25212%) translate3d(0px, 0px, 0px);
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
}
#coupure h1 {
    /* margin-top: 10%; */
}
#coupure li {
    font-size: 20px;
    margin-top: 5px;
    /* color: #03152b; */
}
#coupure li:nth-child(1)
{
    margin-top: 40px;
}
#coupure p 
{
    font-size: 30px;
    margin-top: 25px;
}ƒ
#coupure .contact-coupure
{
    margin-top: 6%;
}
.titleIconList
{
    margin-bottom: 70px;
    font-size: 34px;
}
#myIcon {
    margin-top: 50px;
}

.carte {
    margin: 0 auto;
    margin-top: 40px;
    background: #faf9f8;
    /* border-radius: 12px; */
    text-align: center;
    /* padding-bottom: 49px; */
    box-shadow: 0 6px 15px rgb(195, 188, 188);
    height: 800px;
}

.carte-vide {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    background: white;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.carteVoyage
{
    margin-bottom: 60px;
}

@media all and (max-width:560px) {
    .carte {
        height:auto;
    }
}

.carte img {
    margin: 0 auto;
    z-index: 4;
}

.box-item {
    background: #FAF8F8;
    margin-top: 50px;

}   
.box-item img {
    height: 280px;
}
.box-item p 
{
    line-height: 32px;
    text-align: justify;
    margin: 0 6%;
}
.box-item h2 {
    margin:0 6%;
    margin-bottom: 37px;
}
.intro-text 
{
    background: #FAF8F8;

}
.intro-text p 
{
    margin: 20px 20%;
}
.details p {
    /* height: 100px; */
    font-size: 22px;
    width: 100%;
    height: 191px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.date h3 {
    color: orange;
    letter-spacing:0px;
}

.date p {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.btn-details {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    background: #04152b;
    border: none;
    margin-left: 10px;
    width: 150px;
}
.btn-details a:hover {
 color: orange;
}

.btn-warning {
    /* padding: 5px; */
    height: 40px;
    text-transform: uppercase;
    /* margin-top: 60px; */
    background: #F1B244;
    border: none;
    margin-right: 30px;
    margin-left: -9px;
}

.btn-danger {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    border: none;
    margin-right: 30px;
}

.card 
{
        height: 600px;
}

.card-text {
    width: 150 px;
    margin: 0 auto;
}
.card img{
        height:297px;
}


.voyageTitre {
    margin-bottom: 60px;
    font-family: 'Robot', sans-serif;
    font-size: 35px;
    padding-top: 30px;
}
/* =======Itineraire=========*/


#banniere-img
{
    height: 550px;
    margin-bottom: 170px;
    margin-top: -56px;
}
.box-inside-head
{
    height: 331px;
    padding: 10px;
    background: white;
    margin-top: 483px;
    text-align:center;
    border: 0.5px solid #E2DDDD;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
}
.box-inside-head h1 {

    color: #04152b;
}
.box-inside-head p 
{
    font-size: 19px;
}
.box-inside-head a
{
    color: white;
}
.back {
    width: 60px;
    height: 60px;
    border-radius: 54;
    background: #65A2E4;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 8px;
    padding-top: 9px;
    border-radius: 7px;
}

.back i {
    color: white;
    right: 1em;
}

.itineraire-img img {
    height: 500px;
}
.descriptif {
    margin-top: -1px;
    background: white;
    border: 0.5px solid #E2DDDD;
    padding: 30px;
    color: #4B4545;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 39px;
}

.descriptif h4 {
    color: #A8A0A0;
    text-align:center;
    font-size: 21px;
    margin-bottom: 30px;
}
.descriptif h3{
    color: #04152b;
}
.descriptif:hover {
    box-shadow: 0px 3px 5px rgba(32, 32, 32, 0.15);
    transform: scale(1.01)
}

.descriptif img {
    margin-top: 10px;
    height: 180px;
    width: 310px;
}

.descriptif h3 {
    color: #000000;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: helvetica;
}
.lieux-visite {
    color: #353333;
    margin-bottom: 4;
    margin: 4% 0 2%
}
.VerticalSeparator {
    border-left: 1.0px solid #93979C;
    /* Border on the left */
    width: 0.5px;
    /* Width instead of height */
    height: 200px;
}
/* QUI SOMMES NOUS */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 23px;
}

.title {
    color: grey;
    font-size: 18px;
}

.btnform {
    text-align: center;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.partenaires i {
    color:#06162D;
}
.partenaires i:hover {
    
    color:#F1B244 ;
}

.btnform:hover,
.partenaires a:hover {
    opacity: 0.7;
}
/*=============== Admin Card ===================*/

#comment-right {
    /* margin-top: 45px; */
}



a {
    padding-right: 15px;
}
/* =======FOOTER ============*/

footer a {
    color: #fff;
}

.copyright,
.mleg,
.icons {
    margin-top: 40px;
    color: #fff;
}

.icons i {
    margin-left: 10px;
    color: #fff;
}
/* === dashbord === */
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

.imgVide {
    height: 250px;
    border: 1px dashed blue;
    padding-top: 110px;
}

.imgVide input {
    margin: 0 auto;
}

.titre input {
    width: 120px;
}

.row.content {
    height: 1500px
}
/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.carteSupp {
    padding: 20px;
    border-radius: 10px;
    background: #C5C5D3;
    text-align: center;
    padding-bottom: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media (max-width: 1024px) {
    .carte-vide, .carte, .remove {
    margin-left: 140px;
    }
    .title {
        margin-left: 244px;
    }
}

@media (max-width:414px) {
    .title,.carte {
        margin-left: -2px;
    }
}



@media all and (max-width:560px) {}

.carte img {
    margin: 0 auto;
    z-index: 4;
    margin-top: 9px;
    margin-top: -10px;
    box-shadow: inset 0 0 9px #302E2E;
    height: auto;
}

.box-item {
    background: #faf9f8;
    margin-top: 50px;
    /* border: solid; */
}

.box-item .col-md-8 {
    padding: 20px;
}

.details p {
    height: 206px;
    font-size: 22px;
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 19px;
}

.date h3 {
    color: orange;
    letter-spacing: 2px;
}

.date p {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.btn-details {
    padding: 0px;
    height: 54px;
    text-transform: uppercase;
    /* background: #65A2E4; */
    color: #fff;
    /* margin-top: 60px; */
    border-radius: 0px;
    /* margin-left: 10px; */
    width: 163px;
    
}

.btn-warning {
    padding: 10px;
    height: 54px;
    text-transform: uppercase;
    /* margin-top: 60px; */
    background: #F1B244;
    border: none;
    margin-right: 30px;
    border-radius:0px;
    
}

.btn-danger {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    border: none;
    margin-right: 30px;
}

.btn-success {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    border: none;
    margin-right: 1px;
}

.card-text {
    width: 150px;
    margin: 0 auto;
}

.voyageTitre {
    margin-bottom: 60px;
    font-family: 'Robot', sans-serif;
    font-size: 35px;
    padding-top: 30px;
}
/* =======Itineraire=========*/

.back {
    width: 60px;
    height: 60px;
    border-radius: 54;
    background: #65A2E4;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 8px;
    padding-top: 9px;
    border-radius: 7px;
}

.back i {
    color: white;
    right: 1em;
}

.itineraire-img img {
    height: 500px;
}

.personnalisable {
    background: #E69B2B;
    color: white;
    height: 500px;
    padding-top: 18px;
    padding-left: 15px;
}

.personnalisable p {
    font-size: 21px;
    margin-right: 15px;
}

.personnalisable img {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.descriptif {
    margin-top: -1px;
    background: white;
    border: 0.5px solid #E2DDDD;
    padding: 30px;
    color: #4B4545;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.descriptif:hover {
    box-shadow: 0px 3px 5px rgba(32, 32, 32, 0.15);
    transform: scale(1.01)
}

.descriptif img {
    margin-top: 10px;
    height: 180px;
}

.descriptif h3 {
    color: #04152b;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: helvetica;
}

.VerticalSeparator {
    border-left: 1.0px solid #93979C;
    /* Border on the left */
    width: 0.5px;
    /* Width instead of height */
    height: 200px;
}
.premium 
{
    display: flex;
    margin-top: 40px;
}
.premium p 
{
    color: #7A7575;
}
.premium img
{
    margin-right: 20px;
}
.premium h5
{
    font-size: 18px;
    color: #0B2038;
}
/* QUI SOMMES NOUS */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 23px;
}
.title {
 
    font-size: 18px;
}

.btnform {
  text-align: center;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.partenaires a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}
.btnform:hover,
.partenaires a:hover {
    opacity: 0.7;
}
/* dashbord */
/*=============== Admin Card ===================*/

#comment-right {
    /* margin-top: 45px; */
}



a {
    color: white;
    padding-right: 0px;
    font-size: 19px;
}
/* =======FOOTER ============*/

footer a {
    color: #fff;
}

.copyright,
.mleg,
.icons {
    margin-top: 40px;
    color: #fff;
}

.icons i {
    margin-left: 10px;
    color: #fff;
}
/* === dashbord === */
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

.imgVide {
    height: 250px;
    border: 1px dashed blue;
    padding-top: 110px;
}

.imgVide input {
    margin: 0 auto;
}

.titre input {
    width: 120px;
}

.row.content {
    height: 1500px
}
/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.carteSupp {
    padding: 20px;
    border-radius: 10px;
    background: #C5C5D3;
    text-align: center;
    margin-top: 10px;
}

.carteSupp .btn-danger {
    background: #CF3030;
    padding: 5px;
}
/* Set black background color, white text and some padding */

footer {
    background-color: #06162B;
    color: white;
    padding: 15px;
}
/* On small screens, set height to 'auto' for sidenav and grid */

@media all and (max-width:890px) {
    .carte {
        width: 100%;
        padding-bottom: 50px;
    }
    .carte img {
        width: 103%;
    }
    .carousel {
        display: none;
    }
}

@media all and (max-width:560px) {
    .carte img {
        width: 106%;
    }
}

@media all and (max-width:890px) {
    .btn-danger,
    .btn-warning {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 15px;
    }
}

.btn-success {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    border: none;
    margin-right: 1px;
}

.card-text {
    width: 150px;
    margin: 0 auto;
}

.voyageTitre {
    margin-bottom: 60px;
    font-family: 'Robot', sans-serif;
    font-size: 35px;
    padding-top: 30px;
}
/* =======Itineraire=========*/

.back {
    width: 60px;
    height: 60px;
    border-radius: 54;
    background: #65A2E4;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 8px;
    padding-top: 9px;
    border-radius: 7px;
}

.back i {
    color: white;
    right: 1em;
}

.itineraire-img img {
    height: 500px;
}

.personnalisable {
    background: #E69B2B;
    color: white;
    height: 500px;
    padding-top: 18px;
    padding-left: 15px;
}

.personnalisable p {
    font-size: 21px;
    margin-right: 15px;
}

.personnalisable img {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.descriptif {
    margin-top: -1px;
    background: white;
    border: 0.5px solid #E2DDDD;
    padding: 30px;
    color: #4B4545;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.descriptif:hover {
    box-shadow: 0px 3px 5px rgba(32, 32, 32, 0.15);
    transform: scale(1.01)
}

.descriptif img {
    margin-top: 10px;
    height: 180px;
    width: 310px;
}

.descriptif h3 {
    color: #000000;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: helvetica;
}

.VerticalSeparator {
    border-left: 1.0px solid #93979C;
    width: 0.5px;
    height: 200px;
}
@media all and (max-width:560px) {
    .VerticalSeparator{
        display: none;
    }
}
.banniere-premium
{
    background: url(../images/monaco.jpg)no-repeat fixed;
    background-size: cover;
}
/* QUI SOMMES NOUS */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 23px;
}

.title {
    color: grey;
    font-size: 18px;
}

.btnform {
    text-align: center;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.partenaires a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.btnform:hover,
.partenaires a:hover {
    opacity: 0.7;
}
/* dashbord */
/*=============== Admin Card ===================*/

#comment-right {
    /* margin-top: 45px; */
}



a {
    padding-right: 15px;
}
/* =======FOOTER ============*/


footer {
    background-color: #06162B;
    color: white;
    padding: 15px;
}

footer a {
    color: #fff;
}

.copyright,
.mleg,
.icons {
    margin-top: 40px;
    color: #fff;
}

.icons i {
    margin-left: 10px;
    color: #fff;
}
/* === dashbord === */
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

.imgVide {
    height: 250px;
    border: 1px dashed blue;
    padding-top: 110px;
}

.imgVide input {
    margin: 0 auto;
}

.titre input {
    width: 120px;
}

.row.content {
    height: 1500px
}
/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.carteSupp {
    padding: 20px;
    border-radius: 10px;
    background: #C5C5D3;
    text-align: center;
    margin-top: 10px;
}

.carteSupp .btn-danger {
    background: #CF3030;
    padding: 5px;
}
/* Set black background color, white text and some padding */


/* On small screens, set height to 'auto' for sidenav and grid */


@media (max-width: 1024px) {
    .carte-vide, .carte, .remove {
    margin-left: 140px;
    }
    .title {
        margin-left: 244px;
    }
}

@media (max-width:414px) {
    .title,.carte {
        margin-left: -2px;
    }
}



@media all and (max-width:560px) {}

.carte img {
    width: 106%;
    margin: 0 auto;
    z-index: 4;
    height: 300px;
}


@media all and (max-width:560px) {
    .carte {
        height: auto;
    }
}



.Top {
    position : fixed ; 
    bottom : 20px; 
    right : 20px ;
    background : rgba(255,255,255,0.5) ;
    padding : 3px 5px; 
    width : 50px; 
    height : 50px; 
    box-sizing : border-box ;
    font-size : 30px; 
    border-radius : 100% ; 
    color : #b6a763 ;
    cursor : pointer ;
    border : 5px solid #b6a763 ;
    z-index : 10 ;
    display : none; 
  }
  
