  /* ==================== MENU =================== */
  body {
    position: relative;
    overflow-x: hidden;
    background: #FAF9F8;
}
header 
{
    background: white;
}
body,
html {
    height: 100%;
}

.logo 
{
    width: 170px;
    position: absolute;
    z-index: 20;
    margin-left: 350px;
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    margin-top: -110px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 19px;
    text-shadow: 2px 2px 2px black;
}
.navbar-default .navbar-nav>li>a:hover {
    color: orange;
} 
.navbar-default {
    background: transparent;
    z-index: 100;
    border: none;
}
/*-------------------------------*/
/*           carousel             */
/*-------------------------------*/
.sh-carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -9999999;
  }
  
  .sh-carousel-wrapper {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
  }
  
  .sh-carousel-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .sh-carousel-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .sh-carousel-content-title {
    width: 100%;
    line-height: 1.32;
    margin: 0 auto;
    padding: 0px 28px;
    font-size: 3.4em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow:1px 4px 2px #413b3b;
  }
  /*-------------------------------*/
/*           carousel             */
/*-------------------------------*/
  /*-------------------------------*/
/*           scroll mouse           */
/*-------------------------------*/
  /*-------------------------------*/
/*           scroll mouse           */
/*-------------------------------*/
/* =============== HEADER ======================*/

.p_guide {
    font-style: italic;
    margin-top: 15px;
    font-size: 18px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.container h2{
    color:#06162D;
}

.carousel {
    margin-top: -130px;

}
.carousel h1 {

}
.carousel strong {
    color: orange;
}
.carousel-inner {
    width: auto;
    margin-bottom: 70px;
}
.carousel-inner>.item>img {
    height: 800px;
    width: 100%;
}

.titreIcon {
    font-family: 'Roboto', sans-serif;
}
/* ========== CARTE ================= */
#intro strong {
    color: orange;
}
#intro {
    margin-top: 110px;
}
#intro h1  {
    color: #2B2727;
}
#intro p {
    font-size: 19px;
}
#coupure    
{
    height: 500px;
    background: url(../images/australia.jpg) no-repeat fixed;
    background-size: cover;
}
#myIcon {

 margin-top: 50px;
}


.carte {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    height: 708px;
    background: white;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.carte img {
    width: 106%;
    margin: 0 auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 4;
    margin-top: 9px;
    height: 300px;
    margin-left: -10px;
    margin-top: -10px;
    box-shadow: inset 0 0 9px #302E2E;
}
.box-item   
{
    background: white;
    margin-top: 50px;
}
.box-item .col-md-8
{
    padding: 20px;
}

.details p {
    height: 100px;
    font-size: 22px;
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.date h3 {
    color: orange;
    letter-spacing: 2px;
}

.date p {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.btn-details {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    background: #65A2E4;
    color :#fff;
    margin-top: 60px;
    border: none;
    margin-left: 10px;
    width: 150px;
}

.btn-warning {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    background: #F1B244;
    border: none;
    margin-right: 30px;
}

.btn-danger {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    border: none;
    margin-right: 30px;
}
.btn-success  {
    padding: 5px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    border: none;
    margin-right: 1px;
}

.card-text {
    width: 150px;
    margin: 0 auto;
}

.voyageTitre {
    margin-bottom: 60px;
    font-family: 'Robot', sans-serif;
    font-size: 35px;
    padding-top: 30px;
}
/* =======Itineraire=========*/
.back 
{
    width: 90px;
    height: 90px;
    border-radius: 120px;
    background: #65A2E4;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 25px;
    padding-top: 22px;
}
.back i 
{
    color: white;
    right: 1em;
}
.itineraire-img img {
    height: 500px;
}

.personnalisable {
    background: #E69B2B;
    color: white;
    height: 500px;
    padding-top: 18px;
    padding-left: 15px;
}

.personnalisable p {
    font-size: 21px;
    margin-right: 15px;
}

.personnalisable img {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.descriptif {
    margin-top: -1px;
    background: white;
    border: 0.5px solid #E2DDDD;
    padding: 30px;
    color: #4B4545;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}
.descriptif:hover {
    box-shadow: 0px 3px 5px rgba(32, 32, 32, 0.15);
    transform: scale(1.01)
}
.descriptif img {
    margin-top: 10px;
    height: 180px;
    width: 310px;
}

.descriptif h3 {
    color: #000000;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: helvetica;

}

.VerticalSeparator {
    border-left: 1.0px solid #93979C;
    /* Border on the left */
    width: 0.5px;
    /* Width instead of height */
    height: 200px;
}





/* QUI SOMMES NOUS */ 



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-top : 50px;
    margin-bottom: 50px;
    margin-left : 40px;
    margin-right: 23px;
   }

.title {
    color: grey;
    font-size: 18px;
}

.btnform {
    text-align: center;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.partenaires a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.btnform:hover, .partenaires a:hover {
    opacity: 0.7;
}


/*=============== Admin Card ===================*/

#comment-right{
    margin-top: 45px;
}

/* =======FOOTER ============*/



footer a {
    color: #fff;
}

.copyright,
.mleg,
.icons {
  margin-top: 40px;
    color: #fff;
}

.icons i {
    
    margin-left: 10px;
    color: #fff;
}
/* === dashbord === */
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.imgVide 
{
    height: 250px;
    border: 1px dashed blue;
    padding-top: 110px;
}
.imgVide input
{
  margin-left: 20px;
}
.titre input 
{
  width: 120px;
}
.row.content {
    height: 1500px
}
/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }
  .carteSupp
  {
      padding: 20px;
      border-radius:10px;
      background: #C5C5D3;
      text-align: center;
      margin-top: 10px;
  }
  .carteSupp .btn-danger
  {
      background: #CF3030;
      padding: 5px;
  }







  /* Set black background color, white text and some padding */
  footer {
    background-color: #06162B;
    color: white;
    padding: 15px;
}
/* On small screens, set height to 'auto' for sidenav and grid */

@media all and (max-width:890px) {
    .carte {
        width: 100%;
        padding-bottom: 50px;

    }
    .carte img {
        width: 103%;
    }
    .carousel {
        display: none;
    }
    
}
@media all and (max-width:560px) {
    .carte img {
        width: 106%;
    }
}    


@media all and (max-width:890px){
    .btn-danger, .btn-warning {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 15px;
    }
   
  }


@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

@media all and (max-width:890px) {
    .VerticalSeparator {
        display: none;
    }
    footer p {
        text-align: center;
    }
}
